@model BasicCRUDWeb1.Models.Employee

@{
    ViewBag.Title = "Details";
}


<div class="container ">
    <div class="modal-body text-start p-4">
        <h5 class="modal-title text-uppercase mb-5" id="exampleModalLabel">Detail Info Employee</h5>
        <h4 class="mb-5">@Html.DisplayFor(model => model.UserName)</h4>
        <p class="mb-0">Infomation summary</p>
        <hr class="mt-2 mb-4"
            style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">

        <div class="d-flex justify-content-between">
            <p class="fw-bold mb-0">@Html.DisplayNameFor(model => model.UserID)</p>
            <p class="text-muted mb-0">@Html.DisplayFor(model => model.UserID)</p>
        </div>

        <div class="d-flex justify-content-between">
            <p class="small mb-0">@Html.DisplayNameFor(model => model.Password)</p>
            <p class="small mb-0">@Html.DisplayFor(model => model.Password)</p>
        </div>

        <div class="d-flex justify-content-between pb-1">
            <p class="small">@Html.DisplayNameFor(model => model.Email)</p>
            <p class="small">@Html.DisplayFor(model => model.Email)</p>
        </div>
        <div class="d-flex justify-content-between pb-1">
            <p class="small">@Html.DisplayNameFor(model => model.Tel)</p>
            <p class="small">@Html.DisplayFor(model => model.Tel)</p>
        </div>

        <div class="d-flex justify-content-between">
            <p class="fw-bold">Active</p>
            <p class="fw-bold">
                @if (Model.Disable == 1)
                {
                    <span>Activated</span>
                }
                else
                {
                    <span>Inactive</span>
                }
            </p>
        </div>

        <div class="d-flex gap-2">
            @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }, new { @class = "btn btn-info text-white" }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
